  /*@import url('https://fonts.googleapis.com/css?family=Poppins:300,400');*/
  @import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

  body {
    margin: 0;
    -webkit-perspective: 1000;
    /*font-family: 'Poppins', sans-serif;*/
    font-family: "DotGothic16", sans-serif;
    /*background: #303030;*/
    background: #000000;
  }

  body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }



  /*---------------------------------------
     TYPOGRAPHY
  -----------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
    line-height: inherit;
  }

  h1 {
    color: #ffffff;
    font-size: 2em;
  }

  h2 {
    color: #353535;
    font-size: 2em;
  }

  p {
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
  }

  /*---------------------------------------
     GLITCH
  -----------------------------------------*/

/*.glitch-wrapper {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   background-color: #000000;
}*/

.glitch {
   position: relative;
   /*font-size: 30px;
   font-weight: bold;*/
   color: #FFFFFF;
   letter-spacing: 3px;
   z-index: 1;
}

.glitch:before {
   content: attr(data-text);
   position: absolute;
   top: 0;
   left: -2px;
   width: 100%;
   color: 30px;
   /*background-color: #000000;*/
   overflow: hidden;
   clip: rect(0, 900px, 0, 0);
   animation: noise-before 3s infinite linear alternate-reverse;
}

.glitch:after {
   content: attr(data-text);
   position: absolute;
   top: 0;
   left: 2px;
   width: 100%;
   color: 30px;
   /*background-color: #000000;*/
   overflow: hidden;
   clip: rect(0, 900px, 0, 0);
   animation: noise-after 2s infinite linear alternate-reverse;
}

@keyframes noise-before {
   0% {
      clip: rect(61px, 9999px, 52px, 0);
   }
   5% {
      clip: rect(33px, 9999px, 144px, 0);
   }
   10% {
      clip: rect(121px, 9999px, 115px, 0);
   }
   15% {
      clip: rect(144px, 9999px, 162px, 0);
   }
   20% {
      clip: rect(62px, 9999px, 180px, 0);
   }
   25% {
      clip: rect(34px, 9999px, 42px, 0);
   }
   30% {
      clip: rect(147px, 9999px, 179px, 0);
   }
   35% {
      clip: rect(99px, 9999px, 63px, 0);
   }
   40% {
      clip: rect(188px, 9999px, 122px, 0);
   }
   45% {
      clip: rect(154px, 9999px, 14px, 0);
   }
   50% {
      clip: rect(63px, 9999px, 37px, 0);
   }
   55% {
      clip: rect(161px, 9999px, 147px, 0);
   }
   60% {
      clip: rect(109px, 9999px, 175px, 0);
   }
   65% {
      clip: rect(157px, 9999px, 88px, 0);
   }
   70% {
      clip: rect(173px, 9999px, 131px, 0);
   }
   75% {
      clip: rect(62px, 9999px, 70px, 0);
   }
   80% {
      clip: rect(24px, 9999px, 153px, 0);
   }
   85% {
      clip: rect(138px, 9999px, 40px, 0);
   }
   90% {
      clip: rect(79px, 9999px, 136px, 0);
   }
   95% {
      clip: rect(25px, 9999px, 34px, 0);
   }
   100% {
      clip: rect(173px, 9999px, 166px, 0);
   }
}

@keyframes noise-after {
   0% {
      clip: rect(26px, 9999px, 33px, 0);
   }
   5% {
      clip: rect(140px, 9999px, 198px, 0);
   }
   10% {
      clip: rect(184px, 9999px, 89px, 0);
   }
   15% {
      clip: rect(121px, 9999px, 6px, 0);
   }
   20% {
      clip: rect(181px, 9999px, 99px, 0);
   }
   25% {
      clip: rect(154px, 9999px, 133px, 0);
   }
   30% {
      clip: rect(134px, 9999px, 169px, 0);
   }
   35% {
      clip: rect(26px, 9999px, 187px, 0);
   }
   40% {
      clip: rect(147px, 9999px, 137px, 0);
   }
   45% {
      clip: rect(31px, 9999px, 52px, 0);
   }
   50% {
      clip: rect(191px, 9999px, 109px, 0);
   }
   55% {
      clip: rect(74px, 9999px, 54px, 0);
   }
   60% {
      clip: rect(145px, 9999px, 75px, 0);
   }
   65% {
      clip: rect(153px, 9999px, 198px, 0);
   }
   70% {
      clip: rect(99px, 9999px, 136px, 0);
   }
   75% {
      clip: rect(118px, 9999px, 192px, 0);
   }
   80% {
      clip: rect(1px, 9999px, 83px, 0);
   }
   85% {
      clip: rect(145px, 9999px, 98px, 0);
   }
   90% {
      clip: rect(121px, 9999px, 154px, 0);
   }
   95% {
      clip: rect(156px, 9999px, 44px, 0);
   }
   100% {
      clip: rect(67px, 9999px, 122px, 0);
   }
}



  /*---------------------------------------
     GENERAL
  -----------------------------------------*/

  html{
    -webkit-font-smoothing: antialiased;
  }

  a {
    color: #202020;
    text-decoration: none !important;
  }

  a,
  input, button,
  .form-control {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  a:hover, a:active, a:focus {
    color: #29ca8e;
    outline: none;
  }

  ::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    /* test */
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #202020;
  }

  .overlay {
    /*background: linear-gradient(to top right, #d2b48c, #000000);*/
    background: linear-gradient(to top right, #222222, #000000);
    opacity: 0.75;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /*
  .grid {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .grid-line {
    height: 300vh;
    border-right: 1px solid rgba(255,255,255,0.02);
  }
  */

  .google-map iframe {
    border: 0;
    margin-top: 20px;
  }

  .subscribe-form {
    position: relative;
  }

  .subscribe-form .form-control {
    background: #ffffff;
    box-shadow: none;
    border: 0;
    border-radius: 50px;
	width: 340px;
    height: 45px;
    padding: 6px 30px;
  }

  .subscribe-form button[type="submit"] {
    background: transparent;
    border: 0;
    outline: none;
  }

  .subscribe-form .fa {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
    color: #d2b48c;
    font-size: 20px;
  }



  /*---------------------------------------
       PRE LOADER
  -----------------------------------------*/

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
  }

  .spinner {
    border: 1px solid transparent;
    border-radius: 3px;
    position: relative;
  }

  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 1px solid #575757;
    border-top-color: #ffffff;
    animation: spinner .9s linear infinite;
  }

  @-webkit-@keyframes spinner {
    to {transform: rotate(360deg);}
  }

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }


  /*---------------------------------------
      MENU
  -----------------------------------------*/

  .menu, .menu-bg, .menu-burger {
    position: fixed;
    z-index: 222;
    width: 50px;
    height: 50px;
    line-height: 30px;
    font-size: 25px;
    text-align: center;
    border-radius: 100%;
    right: 25px;
    top: 25px;
  }

  .menu-bg {
    background: #101010;
    pointer-events: none;
    transition: .3s;
    right: 50px;
    top: 50px;
    transform: translate3d(50%, -50%, 0);
    transform-origin: center center;
  }

  .menu-bg.fs {
    transform: translate3d(50%, -50%, 0);
    width: 500vw;
    height: 500vw;

    /* test */
    /* border: 1px solid #ffffff; */
    /* overscroll-behavior: none; */
  }

  .menu-burger {
    color: #ffffff;
    padding-top: 11px;
    -webkit-user-select: none;
    cursor: pointer;
    transition: .4s;
    transform-origin: center;
    z-index: 9999;
  }

  .menu-burger.fs {
    transform: rotate(-180deg) translateY(5px);
  }

  .menu-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .4s;
    margin-top: 50px;
    transform: translateY(-200%);
    pointer-events: none;
    /*
    background-color: #ffffff;
    */
  }

  .menu-items ul.menu {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    top: 10px;
  }

  .menu-items ul.menu li {
    display: block;
    list-style: none;
    transition: 1s;
    opacity: 0;
    margin: 5px 0;
  }

  .menu-items ul.menu li a {
    color: #ffffff;
    font-size: 18px;
    position: relative;
  }

  .menu-items ul.menu li a:after {
    content: "";
    width: 0;
    height: 2px;
    border-radius: 50px;
    position: absolute;
    bottom: 13px;
    transition: 0.5s;
    margin: 0 auto;
    display: block;
    right: 0;
    left: 0;
  }

  .menu-items ul.menu li a:hover:after {
    content: "";
    background: #d2b48c;
    width: 100%;
  }

  .menu-items.fs {
    transform: translateY(0);
    pointer-events: auto;
    opacity: 1;
    /* test */
    height: 90%;
  }

  .menu-items.fs ul li {
    opacity: 1;
  }

  address p {
    /*color: #f9f9f9;*/
    color: #ffffff;
  }



  /*---------------------------------------
      HOME
  -----------------------------------------*/

  #home {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    position: relative;
  }

  #home .container {
    width: 100%;
  }

  .home-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100vh;
  }

  .countdown {
    text-align: center;
    margin: 50px 0;
    padding: 0;
  }

  .countdown li {
    color: #ffffff;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
  }

  .countdown span {
    font-size: 25px;
  }

  .countdown h3 {
    font-size: 14px;
    text-transform: uppercase;
    margin: 10px 0;
  }


  /* test */
  .web-font-bg
  {
    position: relative;
    color: #fff;
    text-align: center;
    line-height: 100px;
    font-size: 1.8em;
    background-color: #333333;
    opacity: 0.33;
    z-index: 1;
  }
  .web-font-bg:before
  {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50px;
    content: '\f046';
    /*color: #71c9f8;*/
    color: #000000;
    font-size: 100px;
    font-family: fontAwesome;
    z-index: -1;
  }

  /*---------------------------------------
     SOCIAL ICON
  -----------------------------------------*/

  .social-icon {
    position: relative;
    padding: 0;
    margin: 30px 0 0 0;
    text-align: center;
  }

  .social-icon .line {
    background: #ffffff;
    width: 50px;
    height: 2px;
    margin-right: 10px;
    position: relative;
    bottom: 5px;
  }

  .social-icon li {
    display: inline-block;
    list-style: none;
  }

  .social-icon li a {
    border-radius: 50px;
    color: #ffffff;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    position: relative;
    margin: 5px 5px 5px 0;
  }

  .social-icon li a:hover {
    background: #d2b48c;
    color: #ffffff;
  }



  /*---------------------------------------
     RESPONSIVE STYLES
  -----------------------------------------*/

  @media screen and (max-width: 480px) {

    .home-info {
      padding: 0 1em 0 1em;
    }

    .countdown li {
      margin: 0 12px;
    }

    address {
      margin-top: 50px;
    }
  }

  @media screen and (max-width: 360px) {

    h1 {
      font-size: 1.50em;
    }

    .menu-items {
      margin: 100px 0;
    }

    .countdown span {
      font-size: 20px;
    }

    .countdown h3 {
      font-size: 12px;
    }
  }
